<div id="header-banner">
  <h1>Share Your Monkey Experience!</h1>
  <div class="create-button">
    <%= link_to "Create Monkey", new_cocktail_path %>
  </div>
</div>


<div class="card-container">
  <% @cocktails.each do |cocktail| %>
  <div class="card">
    <%= image_tag cocktail.photo, alt: "cocktail-image" %>
    <h5>
      <%= link_to cocktail.name, cocktail_path(cocktail) %>
    </h5>

    <div class="delete-btn">
      <%= link_to "Delete", cocktail_path(cocktail), method: :delete %>
    </div>
  </div>
  <% end %>
</div>

