<h1>Cocktails Index</h1>


<div class="card-container">
  <% @cocktails.each do |cocktail| %>
  <div class="card">
    <h5>
      <%= link_to cocktail.name, cocktail_path(cocktail) %>
    </h5>

    <div class="delete-btn">
      <%= link_to "Delete", cocktail_path(cocktail), method: :delete %>
    </div>
  </div>
  <% end %>
</div>

