<h1>Cocktails Index</h1>

<!-- app/views/articles/index.html.erb -->
<%= cl_image_tag("qsiaz9stv12shp95estx",
      width: 400, height: 300, crop: :fill) %>

<!-- for face detection -->
<%= cl_image_tag("hpczgowy6cv2j1x92jif",
      width: 150, height: 150, crop: :thumb, gravity: :face) %>

<div class="card-container">
  <% @cocktails.each do |cocktail| %>
  <div class="card">
    <h5>
      <%= link_to cocktail.name, cocktail_path(cocktail) %>
    </h5>
    <div class="delete-btn">
      <%= link_to "Delete", cocktail_path(cocktail), method: :delete %>
    </div>
  </div>
  <% end %>
</div>

